<!--<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Whirl</title>
    
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.png?v=2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    
    <script async defer data-domain="whirl.tv" src="https://plausible.io/js/plausible.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc4t7UZAAAAADsgsjjyJbZdxHUerbLUyNyAiBIO"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lc4t7UZAAAAADsgsjjyJbZdxHUerbLUyNyAiBIO', {action:'validate_captcha'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
</head>-->
<head>
    <meta charset="UTF-8">
    <title>Whirl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="/css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/favicon.png?v=2" />
    
    <script async defer data-domain="whirl.tv" src="https://plausible.io/js/plausible.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc4t7UZAAAAADsgsjjyJbZdxHUerbLUyNyAiBIO"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lc4t7UZAAAAADsgsjjyJbZdxHUerbLUyNyAiBIO', {action:'validate_captcha'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
</head>