<!doctype html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>

<div class="container app mt-5">
    <h4>Terms of Service</h4>

    <hr class="my-4">
    <div class="row">
        <div class="container">
            <p>These terms and conditions apply to your access to the Whirl website ("Website"). Please read these terms and conditions carefully before accessing and/or ordering any goods from our Website. If you access the Website, and/or place an order for goods, you agree to be bound by these terms and conditions. If you do not agree with the terms and conditions please do not use our Website. Whirl is a trading name of Whirl.tv Limited.</p>
            
            <h3>DEFINITIONS</h3>
            <p>"Conditions" means these terms and conditions and the Special Conditions; "Product" means a product displayed for sale on the Website; "Product Description" means that part of the Website where certain terms and conditions in respect of the individual Product are provided; "Special Conditions" means the terms and conditions in the Product Description; "Users" means the users of the Website collectively; "Personal Information" means the details provided by you on registration; "We/us" means NEEN Ltd.; "Website" means the website located at www.raven.gg/dev or any subsequent URL which may replace it; "Cookies" means small text files which our Website places on your computer's hard drive to store information about your shopping session and to identify your computer; "United Kingdom" means England, Wales, Scotland, Northern Ireland and the Channel Islands and "You" means a user of this Website.</p>
            
            <h3>HOW THE CONTRACT FOR THE GOODS IS FORMED BETWEEN YOU AND US</h3>
            <p>By placing an order through our website, you warrant that you are legally capable of entering into binding contracts. After placing your order you will receive an automated acknowledgement. Please note that this does not mean that your order has been accepted. All orders are subject to acceptance by us, and we will confirm acceptance to you by confirming that your order has been despatched. All orders are subject to acceptance by Whirl. Non-acceptance of an order may be a result of one of the following:</p>
            <p>&bull; The product you ordered being unavailable from stock.</p>
            <p>&bull; Our inability to obtain authorisation for your payment.</p>
            <p>&bull; The identification of a pricing or product description error.</p>
            <p>Please note that your right to return Products does NOT apply to personalised products unless there is a manufacturing fault with the product.</p>
            
            <h3>OUR GOODS</h3>
            <p>A description of the main characteristics of goods can be found on the product pages of the website. Prices for goods on the website appear on the product pages and include all taxes. Prices and offers may vary and may only be available for limited periods. All prices and offers are subject to availability and may be withdrawn or amended at our discretion. We are under no obligation to sell incorrectly priced goods to you at the incorrect price if the pricing error is obvious and unmistakeable and could have reasonably been recognised by you as an error. We offer delivery worldwide although we are not liable to cover any import duties or taxes which are levied when the delivery reaches the specified destination. You will be responsible for payment of any such import duties and taxes. Please note that we have no control over these charges and cannot predict their amount. Standard delivery does not include tracking, only proof of postage. Tracked delivery is available for a higher charge, depending on location, at checkout. For further details regarding shipping and returns, please see here. Please note that whilst we maintain a very high level of accuracy, colours and design that you see on screen may slightly differ to the actual product due to variances between the RGB and CMYK colour space. Due to such variances, we cannot give guarantee of colour matching to your product. Likewise, whilst we try and maintain a high degree of accuracy between the mockup and the printed product, a digital image is not a valid proof and discrepancies between sizes can occur due to the printed area on a garment. The client is held responsible for all content and images used on the artwork. Whirl cannot be held responsible if the client supplies copyrighted images on their artwork.</p>
            
            <h3>WHIRL LOGO PLACEMENT</h3>
            <p>When purchasing a custom design please note the Whirl logo is mandatory on each garment, and can be placed either below the collar or on right or left chest area.</p>
                
            <h3>LAW</h3>
            <p>The Conditions shall be governed by and construed in accordance with the laws of England and you irrevocably submit to the exclusive jurisdiction of the courts of England.</p>
            
            <h3>BUSINESS ADDRESS</h3>
            <p>Whirl.tv Limited 610 Delta Office Park Swindon SN5 7XF UNITED KINGDOM +44 (0)117 318 3799</p>
            
            <h3>PAYING WITH KLARNA</h3>
            <p>English: In cooperation with Klarna Bank AB (publ), Sveavägen 46, 111 34 Stockholm, Sweden, we offer you the following payment methods. Payment is to be made to Klarna. Pay in [14] days: The payment period is 14 days from shipment of the goods or tickets/ availability date of the service. You can find the complete terms and conditions for the markets where this payment method is available here: United Kingdom , Germany , Sweden , Norway , Denmark , Finland , Austria and the Netherlands . Slice it: With the financing service from Klarna you can pay your purchase in flexible or fixed monthly instalments according to the conditions stated in the checkout. The instalment payment is due at the end of each month after submission of a separate monthly invoice by Klarna. Further information regarding Slice It including terms and conditions and Standard European Consumer Credit Information you can find here for the markets where this payment method is available: Austria , the United Kingdom , Germany , Sweden , Norway , Denmark and Finland . Direct bank transfer: Available in Germany, Austria, Belgium, Italy, Spain, Poland and the Netherlands. Your account will be debited directly after placement of your order. Direct Debit: Available in Germany, Sweden, Austria and the Netherlands. Your account will be debited after shipment of the goods or tickets/ availability date of the service ​or in case of a subscription in accordance with the timelines communicate​d. You will be notified about the date(s) by email. Card Payments: Available in Sweden, Germany and Austria. The amount will be reserved on your card and will be debited after shipment of the goods or tickets/ availability date of the service. In case of a subscription the amount will be debited in accordance with the timelines communicated. The payment methods Pay in [14] days, Slice It and direct debit are only available in case of a positive credit assessment. For this purpose, during the order process and handling of your purchase, we forward your data for an address and credit check to Klarna. We can only offer you the payment methods available based on the result of the credit check. General information about Klarna and the user terms per country can be found on klarna.com . Your personal data is handled in accordance with applicable data protection law and in accordance with the information in Klarnas privacy statement.</p>
        </div>
    </div>
</div>

<% include footer.ejs %>
</body>
</html>