.streams {
  .stream {
    .live-label {
      position: absolute;
      top: 10px;
      left: 25px;
      background-color: #FF0000;
      color: #FFFFFF;
      padding: 1px 5px;
      border-radius: 8px;
    }
    .stream-thumbnail {
      img {
        width: 100%;
        border: 2px solid hsla(0,0%,100%,.05);
        border-radius: 8px;
      }
    }
    .username {
      position: absolute;
      bottom: 10px;
      left: 25px;
      background-color: #23272A;
      border: 2px solid hsla(0,0%,100%,.05);
      border-radius: 8px;
      a {
        font-size: 18px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 2px 8px;
      }
    }
  }
}